# builds
dist/
build/
coverage/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

# env
.env
.env.*
!.env.example

# editors
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store

# local data
/data/
postgres-data/
redis-data/
